@import "mixins";

#Footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  background-image: url("/mesh-7.png");
  background-size: 100vw;
  color: white;
  width: 100vw;
  overflow: hidden;

  .anchor {
    position: absolute;
    width: 20%;
    bottom: 25%;
    right: 12%;
    animation: 10s floatingAnchor infinite;
  }

  @keyframes floatingAnchor {
    from {
      bottom: 25%;
    }
    50% {
      bottom: 35%;
    }
    to {
      bottom: 25%;
    }
  }
}
