@import "mixins";

#Footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  background-image: url("/mesh-1.png");
  background-size: 100vw;
  color: white;
}
