@import "mixins";

#ColorfulHeroScene {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(181deg, #5253bb, #f49f7f);
  background-size: 400% 400%;
  font-family: "Gilroy";
  animation: bgFade 20s infinite linear;

  nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: calc(100% - 120px);
    padding: 30px 60px;
    color: white;

    .logo {
      padding-left: 4px;
      display: flex;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      font-size: 16px;
      text-transform: uppercase;
      color: white;
      line-height: 15px;
    }

    .menu {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 14px;
      letter-spacing: 2px;
    }
  }

  h1 {
    font-size: 72px;
    margin-left: 10%;
    font-weight: 700;
    color: white;
    margin-top: -20px;
    z-index: 2;
    width: 60%;
    line-height: 60px;
  }

  .subtitle {
    margin-left: 10%;
    color: white;
    margin-top: -20px;
    font-weight: 400;
  }

  .clock-blue {
    position: absolute;
    top: 35%;
    right: 15%;
    width: 25%;
    z-index: 1;
    animation: 20s floatingClockBlue linear infinite;
  }

  .clock-orange {
    position: absolute;
    top: 35%;
    right: 15%;
    width: 25%;
    z-index: 1;
    animation: 20s floatingClockOrange linear infinite;
  }

  .button-goback {
    position: absolute;
    bottom: 5%;
    left: 60px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 12px;

    &:hover {
      color: #5253bb;
      background-color: white;
    }
  }

  .copyrights {
    position: absolute;
    bottom: 5%;
    right: 60px;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  @keyframes floatingClockBlue {
    from {
      opacity: 0;
      top: 25%;
    }
    10% {
      opacity: 1;
      top: 15%;
    }
    20% {
      top: 25%;
    }
    30% {
      top: 15%;
    }
    40% {
      opacity: 1;
      top: 25%;
    }
    50% {
      opacity: 0;
      top: 15%;
    }
    to {
      opacity: 0;
      top: 25%;
    }
  }

  @keyframes floatingClockOrange {
    from {
      opacity: 0;
      top: 25%;
    }
    50% {
      opacity: 0;
      top: 25%;
    }
    60% {
      opacity: 1;
      top: 15%;
    }
    70% {
      top: 25%;
    }
    80% {
      top: 15%;
    }
    90% {
      opacity: 1;
      top: 25%;
    }
    to {
      opacity: 0;
      top: 15%;
    }
  }

  @keyframes bgFade {
    0% {
      background-position: 50% 0%;
    }
    40% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    90% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
}
