@font-face {
  font-family: "Bigilla";
  src: local("Bigilla"), url(./fonts/Bigilla.otf) format("woff");
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
